* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Hero Section */
.hero-section {
    background-color: #CFFCFF;
    padding: 0 60px;
    color: #FEFFFF;
}

.hero-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 820px;
}

.hero-column-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.hero-column-left h1 {
    font-size: 80px;
}

.hero-column-left span {
    color: #17252A;
}

.hero-column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img {
    max-width: 512px;
    max-height: 512px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    padding: 20px;
}

@media screen and (max-width: 1100px) {
    .hero-section {
        padding: 30px;
    }

    .hero-wrapper {
        grid-template-columns: 1fr;
    }

    .hero-column-left h1 {
        font-size: 80px;
    }

}

@media screen and (max-width:468px) {
    .hero-wrapper {
        grid-template-rows: 600px;
    }

    .hero-column-left h1 {
        font-size: 32px;
    }
}

/* About Section */
.about-section {
    background-color: #AAEFDF;
    color: 17252A;
    padding-top: 50px;
    padding-left: 60px;
}

.about-section h1 {
    font-size: 62px;
    text-align: center;
    color: #FEFFFF;
}

.about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 620px;

}

.about-title {
    text-align: center;
    font-size: 48px;
}

.about-column-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.about-column-left p {
    font-size: 32px;
}

.about-column-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    max-width: 512px;
    max-height: 512px;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1100px) {
    .about-section {
        padding: 30px;
    }

    .about-wrapper {
        grid-template-columns: 1fr;
    }

    .about-section h1 {
        font-size: 40px;
    }

    .about-column-left p {
        font-size: 30px;
    }
}

@media screen and (max-width:468px) {
    .about-wrapper {
        grid-template-rows: 600px;
    }

    .about-section h1 {
        font-size: 40px;
    }

    .about-column-left p {
        font-size: 30px;
    }
}


/* Portfolio Section */
.portfolio-section {
    background-color: #CFFCFF;
}

.portfolio-container {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.portfolio-container h1 {
    font-size: 62px;
    color: #FEFFFF;
    text-align: center;
}

.portfolio-img {
    max-height: 350px;
    max-width: 700px;
    width: 100%;
    height: 100%;
    text-align: center;
}


.portfolio-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.portfolio-item h2 {
    font-size: 48px;
}

.portfolio-item p {
    font-size: 32px;
    font-weight: bold;
    width: 60%;
}

.portfolio-item a {
    color: blueviolet;
    font-size: 24px;
    gap: 20px;
    border-style: solid;
    text-decoration: none;
    padding: 12px;
    border-radius: 20px;
}

.portfolio-link {
    display: flex;
    gap: 20px;
}


/* Media Queries */
@media screen and (max-width: 1368px) {
    .portfolio-projects {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .portfolio-section {
        padding: 30px;
    }

    .portfolio-container h1 {
        font-size: 70px;
    }

    .portfolio-container {
        padding-left: 0px;
    }

}

@media screen and (max-width: 468px) {
    .portfolio-section {
        padding: 10px;
    }

    .portfolio-container h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .portfolio-item h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .portfolio-item p {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .portfolio-projects img {
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    .portfolio-item a {
        color: blueviolet;
        font-size: 18px;
        gap: 20px;
        border-style: solid;
        text-decoration: none;
        padding: 8px;
        border-radius: 20px;
    }

    .portfolio-link {
        display: flex;
        gap: 20px;
        justify-content: center;
    }
}

/* Contact */
.contact-section {
    background-color: #AAEFDF;
    padding: 50px;
    height: 100%;
    width: 100%;
}

.contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-container h1 {
    font-size: 62px;
    color: #FEFFFF;
    text-align: center;
    padding-bottom: 48px;
}

.contact-container p {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-container h1 {
        margin-left: 0;
        margin-top: 24px;
        font-size: 32px;
    }

    .contact-container p {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }
}

/* Footer */
.footer-section {
    background-color: #CFFCFF;
}

.footer-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

}

.footer-img {
    width: 50px;
    height: 50px;

}

@media screen and (max-width: 1000px) {
    .footer-container {
        padding: 60px 24px;
        grid-template-columns: 1fr 1fr;
    }

    .footer-section {
        flex-direction: column;
    }
}

@media screen and (max-width: 468px) {
    .footer-section {
        padding: 0 16px;
    }
}